.dockerignore
.gitignore
.gitlab-ci.yml
docker-compose*.yml
Dockerfile
.idea/
docker/data
bin/tini
src/tpl/**/*.phtml.php
composer.phar
vendor/
*.md
.version
Makefile*
!Makefile.docker
install*
docs/
.git/